In [1]:
names = ("kim", "lee", "park", "choi", "jung")
print(names)

('kim', 'lee', 'park', 'choi', 'jung')

In [2]:
print("kim", 3000, 23.22, True)
print(names)
print(names[0])
print(names[1])
print(names[2])
print(names[3])

kim 3000 23.22 True
('kim', 'lee', 'park', 'choi', 'jung')
kim
lee
park
choi

In [3]:
people = (("kim", 23), ("lee", 33))
print(people[0][0])
print(people[0][1])
print(people[1][0])
print(people[1][1])

kim
23
lee
33

In [4]:
people = (("kim", 23), ("lee", 33))
print(len(people))
print(len(people[0]))
print(len(people[1]))

2
2
2

In [5]:
names = ("kim", "lee", "kim", "park")
print(names.count("kim"))
print(names.index("park"))

2
3

In [7]:
prices = (1000, 2000, 3000, 4000, 5000)
#print(price[1] + price[2])

price1 = prices[1]
price2 = prices[2]
sum = price1 + price2
print(sum)

5000

In [8]:
fruits = (("apple", 1500), ("grape", 2000), ("pineapple", 3000))
print(fruits[1])
print(fruits[1][1])

('grape', 2000)
2000

In [9]:
names = ["kim", "lee", "park", "choi", "jung"]
print(names)

['kim', 'lee', 'park', 'choi', 'jung']

In [10]:
names = ["Kim", "Lee", "Kim", "Park"]

print(names[2])
names[2] = "Choi"
print(names[2])

Kim
Choi

In [ ]:
prices = (1000, 2000, 3000, 4000, 5000)
print(prices[1] + prices[2])

price1 = prices[1]
price2 = prices[2]
sum = price1 + price2
print(sum)

In [11]:
dictionary = {"list": [1, 2, 3], 1: "ONE", "name": "Choi", "age": 30}
print(dictionary)

{'list': [1, 2, 3], 1: 'ONE', 'name': 'Choi', 'age': 30}

In [13]:
users = {"name": "Choi", "height": 180, "weight": 75}
users["age"] = 30
print(users)

{'name': 'Choi', 'height': 180, 'weight': 75, 'age': 30}

In [14]:
users = {"name": "Choi", "height": 180, "weight": 75, "age": 30}
del users["weight"]
print(users)

{'name': 'Choi', 'height': 180, 'age': 30}

In [15]:
users = {"name": "Choi", "height": 180, "age": 30}
users["height"] = 179.5
print(users)

{'name': 'Choi', 'height': 179.5, 'age': 30}

In [16]:
fruits = {"apple": 1000, "banana": 1500, "pineapple": 2000}
price1 = fruits["apple"]
price2 = fruits["banana"]
sum = price1 + price2
print(sum)

2500

In [ ]:
fruits = {"apple": 1000, "banana": 1500, "pineapple": 2000}
fruits["pineapple"] = 3000
print(fruits)

In [26]:
fruits = {"apple": 1000, "banana": 1500, "pineapple": 2000}
fruits_list = list(fruits.values())
print(fruits_list)

[1000, 1500, 2000]

In [19]:
scores = {}
scores["가은"] = {82, 97, 88}
scores["나영"] = {92, 87, 82}
scores["다래"] = {84, 77, 94}
print(scores)

{'가은': {88, 97, 82}, '나영': {82, 92, 87}, '다래': {84, 77, 94}}

In [24]:
scores = {"가은": [82, 97, 88], "나영": [92, 87, 82], "다래": [84, 77, 94]}
scores1 = scores["가은"]
scores1

[82, 97, 88]

In [23]:
scores = {"가은": [82, 97, 88], "나영": [92, 87, 82], "다래": [84, 77, 94]}
scores_list = list(scores.values())
kor = scores_list[0][0] + scores_list[1][0] + scores_list[2][0]
eng = scores_list[0][1] + scores_list[1][1] + scores_list[2][1]
mat = scores_list[0][2] + scores_list[1][2] + scores_list[2][2]
print("국어 평균 점수 : ", kor / 3)
print("영어 평균 점수 : ", eng / 3)
print("수학 평균 점수 : ", mat / 3)

국어 평균 점수 :  86.0
영어 평균 점수 :  87.0
수학 평균 점수 :  88.0