In [2]:
readPercentageOfBook = 30
if readPercentageOfBook == 30:
  print("참 잘했어요!")

참 잘했어요!

In [ ]:
readPercentageOfBook = 100
if readPercentageOfBook == 100:
  print("참 잘했어요!")

In [7]:
readPercentageOfBook = 100
if readPercentageOfBook == 30:
  print("참 잘했어요!")
  print("책을 한 번 더 읽어볼래요?")
print("역시 당신은 똑똑해")

역시 당신은 똑똑해

In [8]:
score = 80

if score == 100:
  print("Perfect")
elif score == 90:
  print("OK")
elif score == 80:
  print("좀 더 노력하세요!")

좀 더 노력하세요!

In [ ]:
score = 80

if score == 100:
  print("Perfect")
elif score == 90:
  print("OK")
else:
  print("좀 더 노력하세요!")

In [ ]:
score = 60

if score == 100:
  print("Perfect")
elif score == 90:
  print("OK")
else:
  print("좀 더 노력하세요!")

In [10]:
numOfPatients = int(input("감염자 수 : "))

if numOfPatients < 1000:
  print("보통")
elif numOfPatients >= 1000 and numOfPatients < 100000:
  print("위험")
else:
  print("매우 위험")

감염자 수 : 1500000
매우 위험

In [12]:
airFare = int(input("항공료(만원) : "))

if airFare < 20:
  print("국내")
elif airFare >= 20 and airFare < 50:
  print("일본, 중국, 홍콩, 괌")
elif airFare >= 50 and airFare < 100:
  print("베트남, 대만, 인도네시아, 말레이시아")
else:
  print("미국, 유럽 등 모든 국가")

항공료(만원) : 105
미국, 유럽 등 모든 국가

In [13]:
scoreKorean = float(input('Korean score : '))
scoreEnglish = float(input('English score : '))
scoreMath = float(input('Math score : '))

scoreAverage = (scoreKorean + scoreEnglish + scoreMath) / 3

print("평균 점수 : " + str(scoreAverage))

if scoreAverage >= 80.0:
  print("합격")
elif scoreAverage >= 70.0 and scoreAverage < 80.0:
  print("재시험")
else:
  print("불합격")

Korean score : 95
English score : 85
Math score : 75
평균 점수 : 85.0
합격

In [ ]:
print("Hello, World!")
print("Hello, World!")
print("Hello, World!")
print("Hello, World!")
print("Hello, World!")

In [14]:
for i in range(5):
  print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [15]:
for i in range(3, 7):
  print(i)

3
4
5
6

In [19]:
for i in range(1, 20, 4):
  print(i)

1
5
9
13
17

In [24]:
sum = 0
for i in range(0, 20, 2):
  sum += i
print(sum)

90

In [27]:
fruits = ['바나나', "딸기', '사과', '망고']
for i in fruits:
  print(i)

SyntaxError: unterminated string literal (detected at line 1) (3304257055.py, line 1)

In [ ]:
fruits = {'오렌지', '키위', '수박', '복숭아'}
for i in fruits:
  print(i)

In [ ]:
text = "Hello, World!"
for i in text:
  print(i)

In [28]:
fruits = ['바나나', '딸기', '사과', '망고']
for i in range(len(fruits)):
  print(i, fruits[i])

0 바나나
1 딸기
2 사과
3 망고

In [110]:
fruits = ['바나나', '딸기', '사과', '망고']
for i in enumerate(fruits): # 반복 가능한 개체의 각 항목에 카운터를 추가하고 열거형 개체를 반환합니다. Python의 열거에서 startIndex, 즉 값을 시작하려는 카운터를 지정
  print(i)

(0, '바나나')
(1, '딸기')
(2, '사과')
(3, '망고')

In [105]:
fruits = ['바나나', '딸기', '사과', '망고']
for i, fruit in enumerate(fruits):
  print(i, fruit)

0 바나나
1 딸기
2 사과
3 망고

In [106]:
fruits = {"바나나": 1000, "딸기": 1500, "사과": 500, "망고": 2000}
for key, value in fruits.items():
  print(key, value)

바나나 1000
딸기 1500
사과 500
망고 2000

In [111]:
fruits = ["바나나", "딸기", "사과", "망고"]
prices = [1000, 1500, 500, 2000]
for fruit, price in zip(fruits, prices): # 여러 개의 순회 가능한(iterable) 객체를 인자로 받고, 
#각 객체가 담고 있는 원소를 튜플의 형태로 차례로 접근할 수 있는 반복자(iterator)를 반환
  print(fruit, price)

바나나 1000
딸기 1500
사과 500
망고 2000

In [39]:
for i in range(1, 10):
  print("2 * ", i, " = ", 2 * i)

2 *  1  =  2
2 *  2  =  4
2 *  3  =  6
2 *  4  =  8
2 *  5  =  10
2 *  6  =  12
2 *  7  =  14
2 *  8  =  16
2 *  9  =  18

In [40]:
for n in range(2, 4):
  for m in range(1, 10):
    print(n, " * ", m, " = ", n * m)

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27

In [ ]:
whie (True):
  print("Hello, World!")

In [41]:
n = 0
while n < 5:
  print("Hello, World!")
  n = n + 1

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [42]:
n = 3
i = 1
while i < 10:
  print(n, " * ", i, " = ", n * i)
  i += 1

3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27

In [43]:
n = 2
while n < 4:
  i = 1
  while i < 10:
    print(n, " * ", i, " = ", n * i)
    i += 1
  n += 1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27

In [44]:
fruits = [["바나나", 1000], ["딸기", 1500], ["사과", 500]]
i = 0
while i < len(fruits):
  j = 0
  while j < len(fruits[i]):
    print(fruits[i][j], end = ' ')
    j += 1
  print()
  i += 1

바나나 1000
딸기 1500
사과 500

In [115]:
import random

i = 0
while i != 6:
  i = random.randint(1, 6)
  print(i)

2
5
3
1
2
6

In [47]:
import random

i = 0
while i != 6:
  i = random.randint(1, 6)
  print(i)

3
1
3
3
3
6

In [116]:
students = ["가온", "나래", "다희"]
for student in students:
  if student == "나래":
    print(student)
  print(student)

가온
나래
나래
다희

In [49]:
students = ["가온", "나래", "다희"]
for student in students:
  if student == "나래":
    print(student)
    break
  print(student)

가온
나래

In [50]:
count = 0
end = 100
while True:
  count += 1
  print(count, "번째 손님입니다.")
  if count == end:
    break

1 번째 손님입니다.
2 번째 손님입니다.
3 번째 손님입니다.
4 번째 손님입니다.
5 번째 손님입니다.
6 번째 손님입니다.
7 번째 손님입니다.
8 번째 손님입니다.
9 번째 손님입니다.
10 번째 손님입니다.
11 번째 손님입니다.
12 번째 손님입니다.
13 번째 손님입니다.
14 번째 손님입니다.
15 번째 손님입니다.
16 번째 손님입니다.
17 번째 손님입니다.
18 번째 손님입니다.
19 번째 손님입니다.
20 번째 손님입니다.
21 번째 손님입니다.
22 번째 손님입니다.
23 번째 손님입니다.
24 번째 손님입니다.
25 번째 손님입니다.
26 번째 손님입니다.
27 번째 손님입니다.
28 번째 손님입니다.
29 번째 손님입니다.
30 번째 손님입니다.
31 번째 손님입니다.
32 번째 손님입니다.
33 번째 손님입니다.
34 번째 손님입니다.
35 번째 손님입니다.
36 번째 손님입니다.
37 번째 손님입니다.
38 번째 손님입니다.
39 번째 손님입니다.
40 번째 손님입니다.
41 번째 손님입니다.
42 번째 손님입니다.
43 번째 손님입니다.
44 번째 손님입니다.
45 번째 손님입니다.
46 번째 손님입니다.
47 번째 손님입니다.
48 번째 손님입니다.
49 번째 손님입니다.
50 번째 손님입니다.
51 번째 손님입니다.
52 번째 손님입니다.
53 번째 손님입니다.
54 번째 손님입니다.
55 번째 손님입니다.
56 번째 손님입니다.
57 번째 손님입니다.
58 번째 손님입니다.
59 번째 손님입니다.
60 번째 손님입니다.
61 번째 손님입니다.
62 번째 손님입니다.
63 번째 손님입니다.
64 번째 손님입니다.
65 번째 손님입니다.
66 번째 손님입니다.
67 번째 손님입니다.
68 번째 손님입니다.
69 번째 손님입니다.
70 번째 손님입니다.
71 번째 손님입니다.
72 번째 손님입니다.
73 번째 손님입니다.
74 번째 손님입니다.
75 번째 손님입니다.
76 번째 손님입니다.
77 번째 손님입니다.
78 번째 손님입니다.
79 번째 손님입니다.
80 번째 손님입니다.
81 번째 손님입니다.
82 번째 손님입니다.
83 번째 손님입니다.
84 번째 손님입니다.
85 번째 손님입니다.
86 번째 손님입니다.
87 번째 손님입니다.
88 번째 손님입니다.
89 번째 손님입니다.
90 번째 손님입니다.
91 번째 손님입니다.
92 번째 손님입니다.
93 번째 손님입니다.
94 번째 손님입니다.
95 번째 손님입니다.
96 번째 손님입니다.
97 번째 손님입니다.
98 번째 손님입니다.
99 번째 손님입니다.
100 번째 손님입니다.

In [51]:
for i in range(0, 10):
  if i % 2 != 0:
    print(i)

1
3
5
7
9

In [52]:
for i in range(0, 10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [56]:
for i in range(0, 6):
  if i % 2 != 0:
    print(i, end =" ")
    print("홀수")

1 홀수
3 홀수
5 홀수

In [57]:
for i in range(0, 6):
  if i % 2 == 0:
    continue
  print(i)
  print("홀수")

1
홀수
3
홀수
5
홀수

In [63]:
# 예제4-4_코드
sum = 0
for i in range(0, 20, 2):
  sum += i
print(sum)

90

In [67]:
# 예제4-5_코드
for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [68]:
# 예제4-6_코드
star = ""
for i in range(0, 5):
  star += "*"
  print(star)

*
**
***
****
*****

In [69]:
# 예제4-7_코드1
n = 0
while (n < 10):
  n += 1
  print(n)

1
2
3
4
5
6
7
8
9
10

In [70]:
# 예제4-7_코드2
n = 1
while (n <= 10):
  print(n)
  n += 1

1
2
3
4
5
6
7
8
9
10

In [71]:
# 예제4-8_코드
n = 10
while n > 0:
  print(n)
  n = n - 1

10
9
8
7
6
5
4
3
2
1

In [74]:
# 예제4-9_코드
n = 0
sum = 0
while (n < 10):
  n += 1
  sum += n
print(sum)

55

In [75]:
# 예제4-10_코드
n = 0
star = ''
while (n < 5):
  n += 1
  star += "*"
  print(star)

*
**
***
****
*****

In [120]:
# 예제4-11_코드
import random

n = 0
m = 0
while n * m != 20:
  n = random.randint(1, 10)
  m = random.randint(1, 10)
  print(n, " * ", m, " = ", n * m)

4  *  2  =  8
3  *  8  =  24
1  *  9  =  9
6  *  2  =  12
4  *  4  =  16
8  *  7  =  56
1  *  2  =  2
6  *  10  =  60
7  *  7  =  49
3  *  2  =  6
5  *  8  =  40
8  *  10  =  80
9  *  6  =  54
3  *  1  =  3
4  *  1  =  4
5  *  8  =  40
3  *  10  =  30
9  *  9  =  81
2  *  1  =  2
4  *  4  =  16
8  *  8  =  64
7  *  9  =  63
6  *  8  =  48
4  *  7  =  28
4  *  1  =  4
6  *  1  =  6
7  *  4  =  28
4  *  9  =  36
6  *  7  =  42
1  *  2  =  2
5  *  10  =  50
5  *  7  =  35
1  *  6  =  6
2  *  9  =  18
2  *  9  =  18
7  *  7  =  49
2  *  7  =  14
3  *  2  =  6
5  *  1  =  5
9  *  5  =  45
1  *  3  =  3
5  *  7  =  35
1  *  6  =  6
4  *  4  =  16
1  *  4  =  4
9  *  2  =  18
7  *  8  =  56
6  *  1  =  6
2  *  5  =  10
4  *  9  =  36
6  *  2  =  12
4  *  5  =  20

In [124]:
# 예제4-12_코드
import random

index = 0
while 1:
  index += 1
  m = random.randint(8, 18)
  if m >= 10 and m <= 15:
    continue
  elif m < 10:
    print(index, "번째 물건의 무게가 ", m, "kg입니다.")
  else:
    print(index, "번째 물건의 무게가 ", m, "kg입니다.")
    break

3 번째 물건의 무게가  8 kg입니다.
5 번째 물건의 무게가  18 kg입니다.

In [93]:
# 예제4-13_코드
for n in range(2, 20):
  for m in range(1, 20):
    print(n, " * ", m, " = ", n * m)

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20
2  *  11  =  22
2  *  12  =  24
2  *  13  =  26
2  *  14  =  28
2  *  15  =  30
2  *  16  =  32
2  *  17  =  34
2  *  18  =  36
2  *  19  =  38
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30
3  *  11  =  33
3  *  12  =  36
3  *  13  =  39
3  *  14  =  42
3  *  15  =  45
3  *  16  =  48
3  *  17  =  51
3  *  18  =  54
3  *  19  =  57
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
4  *  10  =  40
4  *  11  =  44
4  *  12  =  48
4  *  13  =  52
4  *  14  =  56
4  *  15  =  60
4  *  16  =  64
4  *  17  =  68
4  *  18  =  72
4  *  19  =  76
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50
5  *  11  =  55
5  *  12  =  60
5  *  13  =  65
5  *  14  =  70
5  *  15  =  75
5  *  16  =  80
5  *  17  =  85
5  *  18  =  90
5  *  19  =  95
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
6  *  10  =  60
6  *  11  =  66
6  *  12  =  72
6  *  13  =  78
6  *  14  =  84
6  *  15  =  90
6  *  16  =  96
6  *  17  =  102
6  *  18  =  108
6  *  19  =  114
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70
7  *  11  =  77
7  *  12  =  84
7  *  13  =  91
7  *  14  =  98
7  *  15  =  105
7  *  16  =  112
7  *  17  =  119
7  *  18  =  126
7  *  19  =  133
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
8  *  10  =  80
8  *  11  =  88
8  *  12  =  96
8  *  13  =  104
8  *  14  =  112
8  *  15  =  120
8  *  16  =  128
8  *  17  =  136
8  *  18  =  144
8  *  19  =  152
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90
9  *  11  =  99
9  *  12  =  108
9  *  13  =  117
9  *  14  =  126
9  *  15  =  135
9  *  16  =  144
9  *  17  =  153
9  *  18  =  162
9  *  19  =  171
10  *  1  =  10
10  *  2  =  20
10  *  3  =  30
10  *  4  =  40
10  *  5  =  50
10  *  6  =  60
10  *  7  =  70
10  *  8  =  80
10  *  9  =  90
10  *  10  =  100
10  *  11  =  110
10  *  12  =  120
10  *  13  =  130
10  *  14  =  140
10  *  15  =  150
10  *  16  =  160
10  *  17  =  170
10  *  18  =  180
10  *  19  =  190
11  *  1  =  11
11  *  2  =  22
11  *  3  =  33
11  *  4  =  44
11  *  5  =  55
11  *  6  =  66
11  *  7  =  77
11  *  8  =  88
11  *  9  =  99
11  *  10  =  110
11  *  11  =  121
11  *  12  =  132
11  *  13  =  143
11  *  14  =  154
11  *  15  =  165
11  *  16  =  176
11  *  17  =  187
11  *  18  =  198
11  *  19  =  209
12  *  1  =  12
12  *  2  =  24
12  *  3  =  36
12  *  4  =  48
12  *  5  =  60
12  *  6  =  72
12  *  7  =  84
12  *  8  =  96
12  *  9  =  108
12  *  10  =  120
12  *  11  =  132
12  *  12  =  144
12  *  13  =  156
12  *  14  =  168
12  *  15  =  180
12  *  16  =  192
12  *  17  =  204
12  *  18  =  216
12  *  19  =  228
13  *  1  =  13
13  *  2  =  26
13  *  3  =  39
13  *  4  =  52
13  *  5  =  65
13  *  6  =  78
13  *  7  =  91
13  *  8  =  104
13  *  9  =  117
13  *  10  =  130
13  *  11  =  143
13  *  12  =  156
13  *  13  =  169
13  *  14  =  182
13  *  15  =  195
13  *  16  =  208
13  *  17  =  221
13  *  18  =  234
13  *  19  =  247
14  *  1  =  14
14  *  2  =  28
14  *  3  =  42
14  *  4  =  56
14  *  5  =  70
14  *  6  =  84
14  *  7  =  98
14  *  8  =  112
14  *  9  =  126
14  *  10  =  140
14  *  11  =  154
14  *  12  =  168
14  *  13  =  182
14  *  14  =  196
14  *  15  =  210
14  *  16  =  224
14  *  17  =  238
14  *  18  =  252
14  *  19  =  266
15  *  1  =  15
15  *  2  =  30
15  *  3  =  45
15  *  4  =  60
15  *  5  =  75
15  *  6  =  90
15  *  7  =  105
15  *  8  =  120
15  *  9  =  135
15  *  10  =  150
15  *  11  =  165
15  *  12  =  180
15  *  13  =  195
15  *  14  =  210
15  *  15  =  225
15  *  16  =  240
15  *  17  =  255
15  *  18  =  270
15  *  19  =  285
16  *  1  =  16
16  *  2  =  32
16  *  3  =  48
16  *  4  =  64
16  *  5  =  80
16  *  6  =  96
16  *  7  =  112
16  *  8  =  128
16  *  9  =  144
16  *  10  =  160
16  *  11  =  176
16  *  12  =  192
16  *  13  =  208
16  *  14  =  224
16  *  15  =  240
16  *  16  =  256
16  *  17  =  272
16  *  18  =  288
16  *  19  =  304
17  *  1  =  17
17  *  2  =  34
17  *  3  =  51
17  *  4  =  68
17  *  5  =  85
17  *  6  =  102
17  *  7  =  119
17  *  8  =  136
17  *  9  =  153
17  *  10  =  170
17  *  11  =  187
17  *  12  =  204
17  *  13  =  221
17  *  14  =  238
17  *  15  =  255
17  *  16  =  272
17  *  17  =  289
17  *  18  =  306
17  *  19  =  323
18  *  1  =  18
18  *  2  =  36
18  *  3  =  54
18  *  4  =  72
18  *  5  =  90
18  *  6  =  108
18  *  7  =  126
18  *  8  =  144
18  *  9  =  162
18  *  10  =  180
18  *  11  =  198
18  *  12  =  216
18  *  13  =  234
18  *  14  =  252
18  *  15  =  270
18  *  16  =  288
18  *  17  =  306
18  *  18  =  324
18  *  19  =  342
19  *  1  =  19
19  *  2  =  38
19  *  3  =  57
19  *  4  =  76
19  *  5  =  95
19  *  6  =  114
19  *  7  =  133
19  *  8  =  152
19  *  9  =  171
19  *  10  =  190
19  *  11  =  209
19  *  12  =  228
19  *  13  =  247
19  *  14  =  266
19  *  15  =  285
19  *  16  =  304
19  *  17  =  323
19  *  18  =  342
19  *  19  =  361

In [103]:
# 예제4-14_코드
prob = float(input("Precipitation Probability : ")) # 강수확률

if prob >= 50.0:
  print("Take your umbrella")
else:
  print("No need to take an umbrella")

Precipitation Probability : 55
Take your umbrella

In [99]:
# 예제4-15_코드
x = float(input("Input value for X : "))
y = float(input("Input value for Y : "))

if x > y:
  print("x is greater than y, x = " + str(x))
elif y > x:
  print("y is greater than x, y = " + str(y))
else:
  print("x and y are the same")

Input value for X : 10.0
Input value for Y : 21.2
y is greater than x, y = 21.2

In [100]:
# 예제4-16_코드1
for i in range(5):
  for j in range(5):
    if i == j:
      print("*")
      break
    else:
      print(" ", end = "")

*
 *
  *
   *
    *

In [101]:
# 예제4-16_코드2
for i in range(5):
  for j in range(i):
    print(" ", end = "")
  for j in range(5 - i):
    print("*", end = "")
  print()

*****
 ****
  ***
   **
    *

In [102]:
# 예제4-16_코드3
for i in range(1, 6):
  for j in range(5 - i):
    print(" ", end = "")
  for j in range(1, i * 2):
    print("*", end = "")
  print()

    *
   ***
  *****
 *******
*********