

```
# 코드로 형식 지정됨
```

# 작업형1 모의문제2
- data : members.csv

## 문제4
- 주어진 데이터에서 자료형(type)이 object인 컬럼은 삭제하고, 결측치는 0으로 대체한다.
- 행 단위로 합한 다음 그 값이 3000보다 큰 값의 데이터 수를 구하시오
('age', 'f1', 'f2', 'f5', 'views'의 각 행별 합)

In [ ]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")
df.dtypes
# id, coty, f3, f4, subscribed -> object
#드랍을 못시켜서 틀림

id             object
age           float64
city           object
f1            float64
f2              int64
f3             object
f4             object
f5            float64
subscribed     object
views         float64
dtype: object

In [ ]:
#object 형식 만 조회하기
# df.select_dtypes(include = 'object')

#object 형식 조회 후 컬럼명만 있으면 되기 때문에 .columns를 붙여줌
# df.select_dtypes(include=  'object').columns

#cols를 써서 삭제하기
cols = df.select_dtypes(include=  'object').columns
cols
df = df.drop(cols, axis=1)
df.head()


#exclude를 써서 제외하고 조회하는 방법도 있음
# cols = df.select_dtypes(include=  'object').columns
# cols
# df = df[cols]
# df.head()

    age    f1  f2         f5   views
0   2.0   NaN   0  91.297791  6820.0
1   9.0  70.0   1  60.339826  2534.0
2  27.0  61.0   1  17.252986  7312.0
3  75.0   NaN   2  52.667078   493.0
4  24.0  85.0   2  29.269869  1338.0

In [ ]:
#결측치는 0으로 대체
df.head()
df = df.fillna(0)

In [ ]:
#행단위로 합친다
# Transpose를 통해 행 열을 바꿔준다
df = df.T
df.head()
print(sum(df.sum() > 3000))

4

## 문제5
- 데이터에서 IQR을 활용해 views 컬럼의 이상치를 찾고, 이상치 데이터의 수를 구하시오

In [ ]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

#IQR 구하기 위해서는 3사분위 75% 지점과, 1사분위 25% 지점를 구해야함

q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)

IQR = q3 - q1
# print(IQR)

#이상치는 1사분위 -1.5*IQR 와 3사분위 +1.5*IQR

line1 = q1 - 1.5 * IQR
line2 = q3 + 1.5 * IQR

print(sum(df['views'] < line1) + sum(df['views'] > line2))

4

## 문제6
- 'age' 컬럼의 이상치(소수점 나이와 음수나이, 0포함)를 제거하고
- 제거 전 후의 views 컬럼 표준편차를 더하시오 (최종 결과 값은 소수 둘째자리까지 출력, 셋째자리에서 반올림)

In [ ]:
# your code
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")
df

#제거 전 표준편차
r1 = df['views'].std()


# 음수나이, 0포함 제거
# 앞에 ~ 표시하면 이값들이 아닌것임
cond = df['age'] <= 0
# print(df.shape)
df = df[~cond]
# print(df.shape)

# 소수점 나이 제가
# 반올림해서 원래랑 숫자가 다르면 소수점 나이라고 하자
# != 같지않다로 하면 소수점 나이 찾아짐, 그냥 == 으로하면 정수형만 나와서 소수점이 다 배제 됨
# print(df.shape)
cond = df['age'] == round(df['age'],0)
df = df[cond]
# print(df.shape)

r2 = df['views'].std()

#변경 사항 저장전 반드시 shape 보는 습관 들이기

print(round(r1+r2, 2))

8420.69

# 풀이

## 문제4
- 주어진 데이터에서 자료형(type)이 object인 컬럼은 삭제하고, 결측치는 0으로 대체한다.
- 행 단위로 합한 다음 그 값이 3000보다 큰 값의 데이터 수를 구하시오
('age', 'f1', 'f2', 'f5', 'views'의 각 행별 합)

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

# cols = df.select_dtypes(include='object').columns
# cols
# df = df.drop(cols, axis=1)
# df.head()

cols = df.select_dtypes(exclude='object').columns
cols
df = df[cols]
df.head()

df = df.fillna(0)
df = df.T
df.head()
print(sum(df.sum() > 3000))

73

## 문제5
- 데이터에서 IQR을 활용해 views 컬럼의 이상치를 찾고, 이상치 데이터의 수를 구하시오

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)

IQR = q3 - q1
# print(IQR)

line1 = q1 - 1.5 * IQR
line2 = q3 + 1.5 * IQR


print(sum(df['views'] < line1) + sum(df['views'] > line2))

4

## 문제6
- 'age' 컬럼의 이상치(소수점 나이와 음수나이, 0포함)를 제거하고
- 제거 전 후의 views 컬럼 표준편차를 더하시오 (최종 결과 값은 소수 둘째자리까지 출력, 셋째자리에서 반올림)

In [ ]:
# 풀이
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p1/members.csv")

r1 = df['views'].std()

cond = df['age'] <= 0
# print(df.shape)
df = df[~cond]
# print(df.shape)

# print(df.shape)
cond = df['age'] == round(df['age'],0)
df = df[cond]
# print(df.shape)

r2 = df['views'].std()

print(round(r1 + r2, 2))

8420.69